
nav{                /*导航栏*/
    position: fixed;
    margin: 0 auto 0;
    width: 97%;
    height: 50px;
    background: #ae1f25;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .3);
    z-index: 999;       /*导航栏的堆叠顺序*/
}

nav a{                  /*导航超链接效果*/
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
nav .animation{            /*导航最上面一层随鼠标移动的动画效果*/
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: #df8b45;
    width: 70px;
    border-radius: 8px;
    transition: all .5s ease 0s;  /*过渡效果*/
}
a:nth-child(1){            /*子属性1*/
    width: 70px;
}
nav .start-home,a:nth-child(1):hover~.animation{    /*子属性动画显示的宽度规定，左侧预留距离规定*/
    width: 70px;
    left: 0;
}
a:nth-child(2){
    width: 70px;
}
nav .start-xia,a:nth-child(2):hover~.animation{
    width: 70px;
    left: 70px;
}
a:nth-child(3){
    width: 70px;
}
nav .start-shang,a:nth-child(3):hover~.animation{
    width: 70px;
    left: 140px;
}
a:nth-child(4){
    width: 70px;
}
nav .start-zhou,a:nth-child(4):hover~.animation{
    width: 70px;
    left: 210px;
}
a:nth-child(5){
    width: 70px;
}
nav .start-chunqiu,a:nth-child(5):hover~.animation{
    width: 70px;
    left: 280px;
}
a:nth-child(6){
    width: 70px;
}
nav .start-zhanguo,a:nth-child(6):hover~.animation{
    width: 70px;
    left: 350px;
}
a:nth-child(7){
    width: 70px;
}
nav .start-qin,a:nth-child(7):hover~.animation{
    width: 70px;
    left: 420px;
}
a:nth-child(8){
    width: 70px;
}
nav .start-han,a:nth-child(8):hover~.animation{
    width: 70px;
    left: 490px;
}
a:nth-child(9){
    width: 70px;
}
nav .start-sang,a:nth-child(9):hover~.animation{
    width: 70px;
    left: 560px;
}
a:nth-child(10){
    width: 70px;
}
nav .start-xj,a:nth-child(10):hover~.animation{
    width: 70px;
    left: 630px;
}
a:nth-child(11){
    width: 70px;
}
nav .start-dj,a:nth-child(11):hover~.animation{
    width: 70px;
    left: 700px;
}
a:nth-child(12){
    width: 70px;
}
nav .start-nanbei,a:nth-child(12):hover~.animation{
    width: 70px;
    left: 770px;
}
a:nth-child(13){
    width: 70px;
}
nav .start-sui,a:nth-child(13):hover~.animation{
    width: 70px;
    left: 840px;
}
a:nth-child(14){
    width: 70px;
}
nav .start-tang,a:nth-child(14):hover~.animation{
    width: 70px;
    left: 910px;
}
a:nth-child(15){
    width: 70px;
}
nav .start-song,a:nth-child(15):hover~.animation{
    width: 70px;
    left: 980px;
}
a:nth-child(16){
    width: 70px;
}
nav .start-liao,a:nth-child(16):hover~.animation{
    width: 70px;
    left: 1050px;
}
a:nth-child(17){
    width: 70px;
}
nav .start-yuan,a:nth-child(17):hover~.animation{
    width: 70px;
    left: 1120px;
}
a:nth-child(18){
    width: 70px;
}
nav .start-ming,a:nth-child(18):hover~.animation{
    width: 70px;
    left: 1190px;
}
a:nth-child(19){
    width: 70px;
}
nav .start-qing,a:nth-child(19):hover~.animation{
    width: 83px;
    left: 1260px;
}